body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    padding: 0 10%;
    align-items: center;
   
}
header{
    background: url("images/head.png");
    background-size: cover;
    height: 500px;
    position: relative;
    z-index: 1;
}
header::after{
    content: "";
    clear: both;
    display: block;
    

    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}
 h1 span{
    color: #fe320a;
}

.description{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.description p{
    text-align: center;
}

h1 span{
   color: #fe320a;
}
nav{
    z-index: 999;
    background: rgba(0, 0, 0, .4);
    display: flex;
    flex-direction: row;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.menu ul a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav div ul li{            
    padding: 2%;
}

nav div ul{
    list-style-type: none;
    margin-top: 3% ;
    margin-left: 35%;
    display: flex
}
.logo{

}
.logo img{
    width: 75%;
    
}
.menu{
    width: 75%;
    
}

/* .menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.menu ul a{
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    display: inline-block;
} */
 button{
    background: #fe320a;
    padding: 10px 15px;
    border: none;
    color: white;
}
.section-head{
    width: 15%;
    margin: auto;
    text-align: center;
   
}
.section-head h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}

.section-head h3::after{
    content: "";
    clear: both;
    display: block;

    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #fe320a;

    position: absolute;
    bottom: -67%;
    right: 50%;
}
.section-head hr{
    width: 65%;
    border: none;
    height: 2px;
    background: #fe320a;
}
.color{
    color: #fe320a;
}

.about{
    display: flex;
}

.photo{
    width: 30%;
    margin: 2%;
    position: relative;
}

.info{
    width: 65%;
}
.photo img{
    width: 100% ;
}

.social h5{
    margin: 10px ;
    font-size: 18px;
}
.social{
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}
.social a{
    background: rgba(0, 0, 0, .8);
    border-radius: 50% ;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    color: white;
    transition: 1s;
}
.social a:hover{
    background: white;
    color: black;
}
.video{
    background: url("images/video.png");
    padding: 50px 10%;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
}
.video::before{
    content: "";
    clear: both;
    display: block;
   
   

    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: -1;
}
.video a{
    color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 25px;
    display: inline-block;
    background: rgba(0, 0, 0, .2);
}

.row{
	display: flex;
}
.row .col{
	width: 31.33%;
	margin: 2% 1%;
	text-align: center;
}

.row .col a{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    color: #fe320a;
}
.skill{
	display: flex;
}
.skill .left,
.skill .right{
	width: 48%;
	margin: 1%;
}
.skill .right .out{
	height: 16px;
	border-radius: 8px;
	background: rgba(0, 0, 0, .8);
	position: relative;
	text-align: right;
	color: white;
	font-size: 13px;
	padding-right: 5px;
}
.skill .right .in1,
.skill .right .in2,
.skill .right .in3
{
	height: 8px;
	border-radius: 4px;
	background: rgba(255, 0, 0, .8);
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translate(0, -50%);
}
.skill .right .in1{
	width: 60%;
}
.skill .right .in2{
	width: 80%;
}
.skill .right .in3{
	width: 90%;
}
.prow{
	display: flex;
}
.prow .col{
	width: 31.33%;
	margin: 1%;
	position: relative;
}
.prow .col img{
	width: 100%;
}
.prow .col img:hover + .over{
	display: flex;
}
.prow .col .over{
	background: rgba(255, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3px;
	color: white;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	cursor: pointer;
}
.trow{
	display: flex;
}
.trow .col{
	width: 23%;
	margin: 1%;
	position: relative;
	border-bottom: 9px solid red;
}
.trow .col img{
	width: 100%;
    height: 101%;
}
.trow .col img:hover + .over{
	display: block;
}
.trow .col .over{
	background: rgba(255, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.trow .col .over .social{
	text-align: center;
	color: white;
	background: rgba(255, 0, 0, .5);
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.filter{
    text-align: center;
}

.filter ul{
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.filter ul li a{
color: black;
text-decoration: none;
padding: 0 12px;
font-weight: bold;
}
.trow{
    display: flex;
}

.bg{
    background: url(images/bg.png);
    padding: 50px 10%;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
    z-index: -1;
}
.bg::before{
    content: "";
    clear: both;
    display: block;
   
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    z-index: -1;
}
.brow{
    display: flex;
    margin: auto;
    width: 70%;
    height: 30%;
    align-items: center;
    justify-content: center;

}
.brow .col{
    width: 31.33%;
    margin: 1%;
    box-shadow: 1px 1px 10px black;
    padding: 15px;
    margin: 15px;
    
    

}
.brow .col img{
    width: 100%;   
}